In [1]:
# open() for creating and opening the file

# read()
# readlines() for reading line by line

# write()
# writelines() for writing line by line

# seek() for defined posistion
# tell() for finding the position

# close() for closing the file

### Mode
1. w --> writing
2. r --> reading
3. a --> appending
4. rb --> read in binary
5. wb --> write in binary

## Text file

In [2]:
file=open(file="myfile.txt", mode="w")

In [3]:
file.writelines("1. People who quit\n")
file.writelines("2. People who got fired\n")
file.writelines("3. People who quit, but it's okay because the company didn't want them anyway")
file.close()

In [4]:
f4=open(file="myfile.txt", mode="r")  # we are reading the already created file
s=f4.read()

In [6]:
s.count("who") # checking how many "who" words exists in the file

3

In [7]:
s.index("but")  # it checks the position of "but"

63

## JSON file

In [8]:
import json  # for creating JSON files we need to import json library

In [10]:
founders={"names":["anand","sai","kiran"],"age":[23,24,24],"role":["ceo","coo","cfo"]} # data

mv=open(file="details.json",mode="w") 
json.dump(founders,mv) # we are specifying "founders" variable data must be stored as per "mv" variable is saying
mv.close()

## CSV file

In [11]:
import csv

In [21]:
columns=["product","sales"]
rows=[{"product":"ball","sales":200},
{"product":"bat","sales":300}]
sports=open(file="cricket.csv",mode="w",newline="")  # newline=""  sets data without any blanks
core=csv.DictWriter(sports,fieldnames=columns)
core.writeheader()
core.writerows(rows)
sports.close()

## Pickle
For preserving the data for future purposes.

In [1]:
df={"Name":["anand","kiran","sai"], "Age":[23,25,24]}

In [2]:
import pickle
pk=open(file="our age.pkl", mode="wb") # wb --> write in binary for preserving the data
pickle.dump(df, pk)
pk.close()
# df --> is what we needs to store
# pk --> is the place we decided to store

### Pickle has 2 file extensions, 
1--> .pkl , 2--> .sav

In [3]:
sv=open(file="our age.sav", mode="wb")
pickle.dump(df,sv)
sv.close()

## PDF file

In [1]:
python_pdf=open(file="python.pdf", mode="w")

In [5]:
python_pdf.write("""Attention Is All You Need introduced the Transformerâ€”using self-attention instead of recurrence.
This made models parallelizable, scalable, and effective at handling long-range dependencies.
It enabled massive pretraining and fine-tuning workflows, leading to scalable large language models.""")

python_pdf.close()

## Pandas

In [4]:
names=["kgf2","bhahubali2","pushpa2"]
directors=["neil maya","jakkanna","sukku"]
money=[100,200,150]
movies={"Name":names,"Director":directors,"Collections":money}

In [5]:
import pandas as pd
df=pd.DataFrame(movies)
df

         Name   Director  Collections
0        kgf2  neil maya          100
1  bhahubali2   jakkanna          200
2     pushpa2      sukku          150

In [ ]:
## Using PANDAS we can easily convert dataset into any fomate easily

In [6]:
df.to_csv("movies.csv")

In [7]:
df.to_excel("moviesX.xlsx")

In [8]:
df.to_html("movies.html")

In [9]:
df.to_json("movies.json")

### Reading CSV file with the help of "for" loop

In [10]:
import csv
r1=open(file="movies.csv", mode="r")
reader=csv.reader(r1)
for i in reader:
    print(i)

['', 'Name', 'Director', 'Collections']
['0', 'kgf2', 'neil maya', '100']
['1', 'bhahubali2', 'jakkanna', '200']
['2', 'pushpa2', 'sukku', '150']