In [7]:
a=12
while a<=100:
    print("nice",a)
    a+=2
else:
    print("Loop ended successfully !!")

nice 12
nice 14
nice 16
nice 18
nice 20
nice 22
nice 24
nice 26
nice 28
nice 30
nice 32
nice 34
nice 36
nice 38
nice 40
nice 42
nice 44
nice 46
nice 48
nice 50
nice 52
nice 54
nice 56
nice 58
nice 60
nice 62
nice 64
nice 66
nice 68
nice 70
nice 72
nice 74
nice 76
nice 78
nice 80
nice 82
nice 84
nice 86
nice 88
nice 90
nice 92
nice 94
nice 96
nice 98
nice 100
Loop ended successfully !!

In [1]:
s=range(1,16)
for i in s:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [4]:
d=range(1,21,2)  # we are incrementing the values for every 2nd value
for a in d:
    print(a)

1
3
5
7
9
11
13
15
17
19

In [8]:
cold=range(20,0,-2)  # we are decrementing the values by every 2nd value
for c in cold:
    print(c)

20
18
16
14
12
10
8
6
4
2

In [9]:
mall=("Inida") # we can get "India" String data in sequence
for b in mall:
    print(b)

I
n
i
d
a

In [14]:
sold=("Formula1")  
for s in sold:
    print(s)

F
o
r
m
u
l
a
1

In [15]:
vega =[2,20,35,"STOP",96]  # we also get List data in sequence as well
for v in vega:
    print(v)

2
20
35
STOP
96

In [16]:
list(range(1,11)) # we get a list starting from 1 and ends with 10 as python ignores last value
# in this case for 11 we only get 10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
xor=list(range(1,21))
xor

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [21]:
xor**2  # we got error, becoz we tried to get squares of values in the LIST

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [23]:
# to achive above problem we use "for loop"
for x in xor:
    print(x**2) # below we got the squares of values in the list

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

## List Comprehension

In [ ]:
# formate for list comprehension: ["temporary name" & operation For "temp name" in "variable name"]

In [24]:
[x**2 for x in xor]

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]