In [1]:
sale={"a":12,4:56,90:"hi"}
sale

{'a': 12, 4: 56, 90: 'hi'}

In [3]:
sale["a"]

12

## Methods

In [5]:
sale.keys()  # gives list of all keys in the dictionary

dict_keys(['a', 4, 90])

In [6]:
sale.values() # gives list of values in the dict

dict_values([12, 56, 'hi'])

In [7]:
sale.get("a")  # gives specified key's value

12

In [8]:
sale.fromkeys("Sorry")

{'S': None, 'o': None, 'r': None, 'y': None}

In [9]:
sale.update({"s":15}) # it adds the new given data in the end of the original data

In [10]:
sale

{'a': 12, 4: 56, 90: 'hi', 's': 15}

In [11]:
mall={}
type(mall)

dict

In [12]:
core="sorry"
mall.fromkeys(core)

{'s': None, 'o': None, 'r': None, 'y': None}

In [15]:
mall["s"]=12
mall["o"]=32
mall["r"]=90
mall["y"]=7

In [16]:
mall

{'s': 12, 'o': 32, 'r': 90, 'y': 7}

In [17]:
new={}
new["Product"]=["knife","cooker","fridge"]
new["Cost"]=[50,2000,20000]
new

{'Product': ['knife', 'cooker', 'fridge'], 'Cost': [50, 2000, 20000]}

In [18]:
import pandas

In [19]:
pandas.DataFrame(new)

  Product   Cost
0   knife     50
1  cooker   2000
2  fridge  20000